@mixin buttonstyle(
  $btnBG,
  $btncolor,
  $btntexttransform,
  $btnbordercolor,
  $btnhoverbg,
  $btnhovercolor
) {
  background: $btnBG;
  color: $btncolor;
  text-transform: $btntexttransform;
  border: 1px solid $btnbordercolor;
  &:hover {
    background: $btnhoverbg;
    color: $btnhovercolor;
  }
}

.btn-profile {
  @include buttonstyle(
    $btn_profileBG,
    $btn_profilecolor,
    $btntexttransform: uppercase,
    $btnbordercolor: $btn_profileborder,
    $btnhoverbg: $btn_profilehoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-primary {
  @include buttonstyle(
    $btn_primaryBG,
    $btn_primarycolor,
    $btntexttransform: uppercase,
    $btnbordercolor: $btn_primaryborder,
    $btnhoverbg: $btn_primaryhoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-block3 {
  @include buttonstyle(
    $block3-gradient1,
    $btn_primarycolor,
    $btntexttransform: uppercase,
    $btnbordercolor: $block3-gradient2,
    $btnhoverbg: $block3-gradient2,
    $btnhovercolor: $light-color
  );
}
.btn-category {
  @include buttonstyle(
    $btn_categoryBG,
    $btn_categorycolor,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_categoryborder,
    $btnhoverbg: $btn_categoryhoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-categoryblock3 {
  @include buttonstyle(
    $btn_categoryBG,
    $block3-gradient1,
    $btntexttransform: capitalize,
    $btnbordercolor: $block3-gradient1,
    $btnhoverbg: $btn_categoryhoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-signup-gen {
  @include buttonstyle(
    $btn_signupgen-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_signupgen-color,
    $btnhoverbg: $btn_signupgen-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-signup-fb {
  @include buttonstyle(
    $btn_fb-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_fb-color,
    $btnhoverbg: $btn_fb-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-signup-gm {
  @include buttonstyle(
    $btn_gm-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_gm-color,
    $btnhoverbg: $btn_gm-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-signup-em {
  @include buttonstyle(
    $btn_em-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_em-color,
    $btnhoverbg: $btn_em-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-social-skp {
  @include buttonstyle(
    $btn_socialskip-colorbg,
    $btn_socialskip-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_socialskip-colorbg,
    $btnhoverbg: $btn_socialskip-hoverbg,
    $btnhovercolor: $btn_socialskip-color
  );
}
.btn-details-gen {
  @include buttonstyle(
    $btn_details-gen-bg,
    $btn_details-gen-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_details-gen-color,
    $btnhoverbg: $btn_details-gen-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-details-gen.active {
  background: $btn_details-gen-hoverbg;
  color: $light-color;
}
.btn-details-bck {
  @include buttonstyle(
    $btn_details-bck-bg,
    $btn_details-bck-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_details-bck-bg,
    $btnhoverbg: $btn_details-bck-hoverbg,
    $btnhovercolor: $btn_details-bck-color
  );
}
.btn-details-nxt {
  @include buttonstyle(
    $btn_details-nxt-bg,
    $btn_details-nxt-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_details-nxt-bg,
    $btnhoverbg: $btn_details-nxt-hoverbg,
    $btnhovercolor: $btn_details-nxt-color
  );
}

.btn-lgin {
  @include buttonstyle(
    $btn_lgin-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_lgin-color,
    $btnhoverbg: $btn_lgin-hoverbg,
    $btnhovercolor: $light-color
  );
}
.btn-rp {
  @include buttonstyle(
    $btn_rp-color,
    $light-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_rp-color,
    $btnhoverbg: $btn_rp-hoverbg,
    $btnhovercolor: $light-color
  );
}

.btn-pa-skp {
  @include buttonstyle(
    $btn_socialskip-colorbg,
    $btn_socialskip-color,
    $btntexttransform: capitalize,
    $btnbordercolor: $btn_socialskip-colorbg,
    $btnhoverbg: $btn_socialskip-hoverbg,
    $btnhovercolor: $btn_socialskip-color
  );
}

.btn-xs {
  @include media-xs {
    font-size: 1rem;
  }
}
