@mixin categorystyle($catBackground, $catcolor){
  background: $catBackground;
  color: $catcolor;
  font-weight: normal;
  margin-right:5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}
.c-actors, .c-actor{
  @include categorystyle($cat-actorBG, $cat-actorColor);
}
.c-musicians, .c-musician{
  @include categorystyle($cat-musiciansBG, $cat-musiciansColor);
}
.c-filmcrew{
  @include categorystyle($cat-filmcrewBG, $cat-filmcrewColor);
}
.c-photographers, .c-photographer{
  @include categorystyle($cat-photoBG, $cat-photoColor);
}
.c-influencers, .c-influencer{
  @include categorystyle($cat-influencerBG, $cat-influencerColor);
}
.c-hairs, .c-hair{
  @include categorystyle($cat-hairBG, $cat-hairColor);
}
.c-entertainers, .c-entertainer{
  @include categorystyle($cat-entertainersBG, $cat-entertainersColor);
}
.c-models, .c-model{
  @include categorystyle($cat-modelsBG, $cat-modelsColor);
}
.c-presenters, .c-presenter{
  @include categorystyle($cat-presentersBG, $cat-presentersColor);
}
.c-dancers, .c-dancer{
  @include categorystyle($cat-dancersBG, $cat-dancersColor);
}
.c-more{
  @include categorystyle($cat-moreBG, $cat-moreColor);
  margin-left:5px;
}

.categorybadge{
  @include categorystyle($categorybadgeBG, $categorybadgecolor);
}