.footer{
    font-size:14px;

    .footerTop{
        background:$footerTopBG;
        color:$footerTopColor;
        padding-top: 4rem;

        // a{
        //     color:$light-color;
        //     text-decoration: none;
        //     &:hover{
        //         color:$primary;
        //     }
        // }
      
    }
    a{
        color:$light-color;
        text-decoration: none;
        &:hover{
            color:$primary;
        }
    }
    .footerBottom{
        background:$footerBottomBG;
        color:$footerTopColor;
        font-size:13px;
        // height:50px;
        @include  media-sm{
            // height:60px;
        }
        padding-top: 16px;  

        ul{
            padding-left:0px;  
            margin-bottom:0px;      
            li{
                list-style: none;
                display:inline; 
                a{
                    color:$light-color;
                    text-decoration: none;
                    &:hover{
                        color:$light-color;
                        text-decoration: none;
                    }
                }
            }
        }
        li:nth-child(n+2):before {
            content: "|";
            padding:0 15px;
        }
        ul li:last-child{
            padding:0;
        }
    }
}

.footerhr {
    border-top: 1px solid $footerhrcolor;
  }



.line{
    width:100%;
    span { display:block; float:left; height:1px;}
}
.color-1{
    background:$secondary-color;
    width:15%;
}
.color-2{
    background:$footerhrcolor;
    width:75%;
}

.ourlinks{
    ul {
        padding-left : 0 !important;
        padding-top:20px;   
        margin: 0;
         li{
            list-style:none;
            line-height: 2.2rem;
        }
}
}

.blockTitle{
    font-weight: normal;
}
.subscribe{
    padding-top:20px;
}
.subscribesmalltext{
    font-size:13px;
    color: $footerSmalltext;
    padding-top:20px;
}

.socialmedia{
    ul {
        padding-left: 0px !important;
        li{
        list-style: none;
        display:inline;
        padding:20px;

        a{
            font-size:30px;
        }
    }
    @include media-lg{
        li{
            padding:15px;
        }
    }
    @include media-md{
        li{
            padding:20px;
        }
    }
    @include media-sm{
        li{
            padding:20px;
        }
    }
    li:first-child{
        padding-left:0px;   
    }
}
@include media-xs{
    ul{
    li{
        padding:15px;
        a{
            font-size:20px;
        }
    }}
}
}

hr.new2 {
    border-top: 1px dashed $footerSmalltext;
  }


  .img-thumbnail {
    // padding: .25rem;
    background-color: transparent;
    border: none;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.copyright a {
    color:$light-color;
}