.footer{
    .footerTop{
        background:$footerTopBG;
        color:$footerTopColor;
        padding-top: 4rem;
    }
    .footerBottom{
        background:$footerBottomBG;
        color:$footerTopColor;
        font-size:13px;
        height:50px;
        padding-top: 16px;
        a {
            color: white;
        }
        ul li{
            list-style: none;
            display:inline; 
        }
        li:nth-child(n+2):before {
            content: "|";
            padding:0 15px;
        }
        ul li:last-child{
            padding:0;
        }
    }
    .ourlinks {
        ul {
            margin: 0;
            padding: 0;  
            font-size: 1.25rem;
            font-weight: 300; 
            li {
                list-style-type: none;
                a:visited, a {
                    color: white;
                }
            }         
        }
    }
    .news-post {
        display: inline-block;
        margin-bottom: 20px;
        .image {
            width: 40%;
            margin-right: 20px;
            float: left;
        }
        .title {
            font-weight: 500;
            height: 50px;
            width: 100%;
        }
        .date {

        }
        .content {
            width: calc(60% - 20px);
            margin: 0;
            float: right;
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
            min-height: 93px;
        }
    }
}

.footerhr {
    border-top: 1px solid $footerhrcolor;
}

span { 
    display:block; 
    float:left; 
    height:1px;
}

.line {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 15px;
}
.color-1 {
    background:$secondary-color;
    width:15%;
}
.color-2 {
    background:$footerhrcolor;
    width:75%;
}
.blockTitle {
    font-weight: normal;
}
.subscribe {
    padding-top: 10px;
}
.subscribesmalltext {
    font-size: 13px;
    color: $footerSmalltext;
    padding-top: 10px;
}
