.sprite { background: url('physical-sprite.png') no-repeat top left; width: 32px; height: 32px;  } 
.sprite.chest { background-position: 0 0; } 
.sprite.ethnicity { background-position: -42px 0; } 
.sprite.eyecolor { background-position: -84px 0; } 
.sprite.hair { background-position: -126px 0; } 
.sprite.hair-dye { background-position: -168px 0; } 
.sprite.hairs { background-position: -210px 0; } 
.sprite.height { background-position: -252px 0; } 
.sprite.skincolor { background-position: -294px 0; } 
.sprite.waist { background-position: -336px 0; } 
.sprite.weight { background-position: -378px 0; } 