.edit-cat {
  .editCat-head {
    height: 5rem;
    background: $light-color;
  }
  .editCat-body {
    background-color: $popup-bg-color;
    .card {
      border: 1px solid $accordian-br-color !important;
      border-radius: 0 !important;
    }
    .card-header.selected {
      background: $primary-color;
      color: $light-color;
      .icon {
        fill: $header-activeicon-color;
      }
    }
    .accordion {
      background: $light-color;
      @include media-md-min {
        padding: 0 5rem 2.5rem;
      }
    }
    .icon {
      width: 3rem;
      height: 3rem;
      fill: $header-icon-color;
    }
  }
}
