// @import "../base/variable";

.banner {
  .bannerArea{
    background-image: url("../images/banner1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: $bannerHeight;
  }
  .banner-info{
    width:46%;
    padding-top:15%;
  }
  .bannerheading-text{
    font-size: 3rem;
    color: $light-color;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
  }
  .bannerText{
    color:$navbar-bg;
    font-size: 1.5rem;
    line-height:2.1rem;
    padding-bottom:3%;
  }
  
  .banner-btn {
    background: $navbar-bg !important;
    color: $light-color;
    text-transform: uppercase;
  }
}

.gfb {
  padding-bottom: 4rem;
  padding-top: 4rem;

  // img {
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
}

.profile-block {

    height:550px;

  .col {
    margin: auto;
  }
  // img {
  //   width: 50%;
  // }
  button {
    color: white;
    background-color: #ffbd05;
  }
}
.join-block {
  padding-bottom: 50px;
  .col {
    margin: auto;
  }
  img {
    width: 80%;
  }
}
.category-block {
  padding-bottom: 50px;
  .row {
    padding-top: 15px;
  }
  .card {
    padding-top: 15px;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  img {
    margin: auto;
  }
}

.cta-block {
  background: #01b4a1;
  border: 0;
  border-radius: 0;
  .cta-btn {
    background: #007a6d;
    color: white;
  }
}


#drop1 {
  display: block;
  width: 126px;
  height: 132px;
  background-image: linear-gradient($profile-gradient1, $profile-gradient2);
  border-radius: 12% 73% 50% 68% / 60% 60% 40% 40%;
  position: absolute;
  z-index: 5;
  right: 10px;
  top:0;
}
#drop2 {
  display: block;
  width: 126px;
  height: 142px;
  background-image: linear-gradient($profile-gradient1, $profile-gradient2);
  border-radius:  40% 61% 50% 68% / 60% 60% 40% 40%;
  position: absolute;
  z-index: 5;
  left: 95px;
  bottom:0;
}
.imageBlockLeft{
  z-index: 9;
  width:430px;
  height:500px;
  position:absolute;
  top:40px;
  right:60px;

  img{
    width:100%;
  }
}