@import "../base/variable";

.banner {
  .bannerArea{
    background-image: url("../images/banner1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: $bannerHeight;
  }
  .banner-info{
    width:46%;
    padding-top:15%;
  }
  .bannerheading-text{
    font-size: 3rem;
    color: $light-color;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
  }
  .bannerText{
    color:$navbar-bg;
    font-size: 1.5rem;
    line-height:2.1rem;
    padding-bottom:3%;
  }
  
  .banner-btn {
    background: $navbar-bg !important;
    color: $light-color;
    text-transform: uppercase;
  }
}

.gfb {
  padding-bottom: 50px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.profile-block {
  padding-bottom: 50px;
  .col {
    margin: auto;
  }
  img {
    width: 50%;
  }
  button {
    color: white;
    background-color: #ffbd05;
  }
}
.join-block {
  padding-bottom: 50px;
  .col {
    margin: auto;
  }
  img {
    width: 80%;
  }
}
.category-block {
  padding-bottom: 50px;
  .row {
    padding-top: 15px;
  }
  .card {
    padding-top: 15px;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  img {
    margin: auto;
  }
}

.cta-block {
  background: #01b4a1;
  border: 0;
  border-radius: 0;
  .cta-btn {
    background: #007a6d;
    color: white;
  }
}
