.sign-up {
  background-color: $signup-bgcolor;

  .card {
    .card-body {
      .btn {
        @include media-xs {
          font-size: 1rem;
        }
      }
      .or {
        position: absolute;
        left: 50%;
        width: 30px;
        margin-top: 2px;
        background-color: $light-color;
      }
      a {
        color: $secondary;
      }
      .um-field-error {
        background: $light-color;
        color: $warning;
      }
    }
  }
}
