$primary-color: #07bb9b;
$secondary-color: #00a6d0;
$bodyBG: #f2fafd;
$signup-bgcolor: $bodyBG;

$primary: #07bb9b;
$secondary: #00a6d0;
$warning: #ea4335;
$dark: #1e1e1e;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    // "success":    $success,
    // "info":       $info,
    "warning": $warning,
    // "danger":     $danger,
    // "light":      $light,
    "dark": $dark,
  ),
  $theme-colors
);

$topbar-bg: #00202d;
$tb-icon-color: rgb(255, 255, 255);
$tb-icon-color1: #019fce;
$tb-search-bg-color: #00384f;

$nav-color: #002f43;
$navbar-bg: #00415d;

$basefont-color: #444;
$basefont-light-color: #6a6a6a;
$bannerHeight: 660px;

$light-color: #fff;

$container-width: 1366px;

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px,
);

$gradientbg1: #fff;
$gradientbg2: #f1fafc;
$profile-gradient1: #ffbd05;
$profile-gradient2: #e18003;
$artist-gradient1: #04c382;
$artist-gradient2: #008e5e;
$block3-gradient1: #29388e;
$block3-gradient2: #192568;

$btn_profileBG: #ffbd05;
$btn_profilecolor: #fff;
$btn_profilehoverbg: #f3b507;
$btn_profileborder: #e4a800;

$btn_primaryBG: #04c382;
$btn_primarycolor: #fff;
$btn_primaryhoverbg: #0bb87d;
$btn_primaryborder: #00a06a;

$btn_block3BG: #29388e;
$btn_block3color: #fff;
$btn_block3hoverbg: #192568;
$btn_block3border: #192568;

$btn_categoryBG: #fff;
$btn_categorycolor: #04c382;
$btn_categoryhoverbg: #f1fafc;
$btn_categoryborder: #00a06a;

$greyBG: #fcfcfc;

$CTAblock-btnbg: #007a6d;

$footerTopBG: #002f43;
$footerTopColor: #fff;
$footerBottomBG: #002231;
$footerhrcolor: #717273;
$footerSmalltext: #7e7e7e;

// Signup page
$btn_signupgen-color: #28388d;
$btn_signupgen-hoverbg: #19235a;
$btn_fb-color: #4267b2;
$btn_fb-hoverbg: #2f497e;
$btn_gm-color: #ea4335;
$btn_gm-hoverbg: #b63429;
$btn_em-color: #07bb9b;
$btn_em-hoverbg: #035445;

//login btn
$btn_lgin-color: #07bb9b;
$btn_lgin-hoverbg: #035445;

//reset-pass btn
$btn_rp-color: #07bb9b;
$btn_rp-hoverbg: #035445;

//Social Links and websites
$btn_socialskip-colorbg: #ffff;
$btn_socialskip-color: #28388d;
$btn_socialskip-hoverbg: #fff;

$newjoineesBG: #fff;
$imagedivbg: #f9f9f9;

$category-smalltext: #7e7e7e;

//personal details
$btn_details-gen-bg: #ffff;
$btn_details-gen-color: #444;
$btn_details-gen-hoverbg: #07bb9b;

$btn_details-bck-bg: #cccccc;
$btn_details-bck-color: #444;
$btn_details-bck-hoverbg: #f2f2f2;

$btn_details-nxt-bg: #28388d;
$btn_details-nxt-color: #ffff;
$btn_details-nxt-hoverbg: #19235a;

$btn_details-fileup-bg: #ffff;
$btn_details-fileup-color: #444;
$btn_details-fileup-hoverbg: #28388d;

$btn_details-cpt-bg: #ffff;
$btn_details-cpt-color: #444;
$btn_details-cpt-hoverbg: #28388d;

$btn_details-brw-bg: #ffff;
$btn_details-brw-color: #444;
$btn_details-brw-hoverbg: #28388d;

$btn_details-uphs-bg: #ffff;
$btn_details-uphs-color: #07bb9b;
$btn_details-uphs-br: #444;
$btn_details-uphs-hoverbg: #F2F2F2;

$btn_details-mypr-bg: #28388d;
$btn_details-mypr-color: #ffff;
$btn_details-mypr-hoverbg: #19235a;

// Profile com bar
$prcombr-bg: #e5e5e5;
$prcombr-bg-col: #ffc706;

$cat-actorBG: #a7dcbe;
$cat-actorColor: #444;
$cat-musiciansBG: #f8a0b3;
$cat-musiciansColor: #444;
$cat-filmcrewBG: #fcd9e7;
$cat-filmcrewColor: #444;
$cat-photoBG: #b9e9f4;
$cat-photoColor: #444;
$cat-influencerBG: #b796c5;
$cat-influencerColor: #444;
$cat-hairBG: #c2bdeb;
$cat-hairColor: #444;
$cat-entertainersBG: #c2bdeb;
$cat-entertainersColor: #444;
$cat-modelsBG: #fcd9e7;
$cat-modelsColor: #444;
$cat-presentersBG: #a5f6a7;
$cat-presentersColor: #444;
$cat-dancersBG: #f5f7b0;
$cat-dancersColor: #444;
$cat-moreBG: #797979;
$cat-moreColor: #fff;

$font-family-base: "Poppins", sans-serif;
$font-size-base: 1rem;

// category sub category accordion
$accordian-br-color: #dbdbdb;

$btn_details-cat-subcat-bg: #f4f2f3;
$btn_details-cat-subcat-color: #444;
$btn_details-cat-subcat-hoverbg: #07bb9b;

$header-icon-color: #07bb9b;
$header-activeicon-color: #ffff;

//Popups!
$modal-head-color: #ffff;
$modal-body-color: #f7f7f7;
$selectedsubcategorycolor: $primary-color;
$selectedsubcategorybg: #fcfafa;

$btn_popup-cancel-bg:#ffff;
$btn_popup-cancel-color:#444;
$btn_popup-cancel-hoverbg:#CCCCCC;

$btn_popup-save-bg:#08BB9B;
$btn_popup-save-color:#fff;
$btn_popup-save-hoverbg:#058770;

$viewprofileGreycolor: #9c9c9c;

//Physical Attributes color codes
$p-height: #d3e5fc;
$p-weight: #fdebd2;
$p-ethnicity: #fce0e1;
$p-chest: #dbf6d7;
$p-skincolor: #e0d8fb;
$p-waist: #ede5ff;
$p-eyecolor: #dbf6d7;
$p-haircolor: #d3e5fc;
$p-hairlength: #fdebd2;
$p-hairtype: #fce0e1;
$p-notset: #efefef;

//View profile page variables
$viewprofile-hrborder: #c3c3c3;
$categorybadgeBG: #d1ecf1;
$categorybadgeBorder: #86dcec;
$experiencebadgeBG: #d1ecf1;
$experiencebadgeBorder: #86dcec;
$specialisedbadgeBG: #f8d7da;
$specialisedbadgeBorder: #e8c1c4;
$languagebadgeBG: #d4edda;
$languagebadgeBorder: #a9f0ba;
