@mixin buttonstyle($btnBG, $btncolor, $btntexttransform, $btnbordercolor, $btnhoverbg){
    background:$btnBG;
    color: $btncolor;
    text-transform: $btntexttransform;
    border: 1px solid $btnbordercolor;
    &:hover{
        background:$btnhoverbg;
        color: $btncolor;
    }
}

.btn-profile{
    @include buttonstyle($btn_profileBG, $btn_profilecolor, $btntexttransform:uppercase, $btnbordercolor:$btn_profileborder, $btnhoverbg:$btn_profilehoverbg );
}
.btn-primary{
    @include buttonstyle($btn_primaryBG, $btn_primarycolor, $btntexttransform:uppercase, $btnbordercolor:$btn_primaryborder, $btnhoverbg:$btn_primaryhoverbg );
}
.btn-block3{
    @include buttonstyle($block3-gradient1, $btn_primarycolor, $btntexttransform:uppercase, $btnbordercolor:$block3-gradient2, $btnhoverbg:$block3-gradient2 );
}
.btn-category{
    @include buttonstyle($btn_categoryBG, $btn_categorycolor, $btntexttransform:capitalize, $btnbordercolor:$btn_categoryborder, $btnhoverbg:$btn_categoryhoverbg );
}
.btn-categoryblock3{
    @include buttonstyle($btn_categoryBG, $block3-gradient1, $btntexttransform:capitalize, $btnbordercolor:$block3-gradient1, $btnhoverbg:$block3-gradient2 );
}
.btn-signup-fb{
    @include buttonstyle($fb-color, $light-color, $btntexttransform:capitalize, $btnbordercolor:$fb-hoverbg, $btnhoverbg:$fb-hoverbg );
}
.btn-signup-gm{
    @include buttonstyle($gm-color, $light-color, $btntexttransform:capitalize, $btnbordercolor:$gm-hoverbg, $btnhoverbg:$gm-hoverbg );
}
.btn-signup-em{
    @include buttonstyle($em-color, $light-color, $btntexttransform:capitalize, $btnbordercolor:$em-hoverbg, $btnhoverbg:$em-hoverbg );
}
