.btn-profile{
    background:$btn_profileBG;
    color: $btn_profilecolor;
    text-transform: uppercase;
    border: 1px solid $btn_profileborder;
    :hover{
        background:$btn_profilehoverbg;
        color: $btn_profilecolor;
    }
}