.footer{
    .footerTop{
        background:$footerTopBG;
        color:$footerTopColor;
        padding-top: 4rem;
    }
    .footerBottom{
        background:$footerBottomBG;
        color:$footerTopColor;
        font-size:13px;
        height:50px;
        padding-top: 16px;

        ul li{
            list-style: none;
            display:inline; 
        }
        li:nth-child(n+2):before {
            content: "|";
            padding:0 15px;
        }
        ul li:last-child{
            padding:0;
        }
    }
}

.footerhr {
    border-top: 1px solid $footerhrcolor;
  }