<<<<<<< HEAD
=======
@import "../base/variables";

>>>>>>> d82f526f181659d76a660c6ccbfffb4f48410abd
.topbar {
  background: $topbar-bg;
  .tb-icon {
    color: $tb-icon-color;
<<<<<<< HEAD

    @include media-md {
      color: pink;
    }
=======
>>>>>>> d82f526f181659d76a660c6ccbfffb4f48410abd
  }
  .tb-icon1 {
    color: $tb-icon-color1;
  }
  .tb-text {
    color: white;
  }
  .tb-search-bg {
    background-color: $tb-search-bg-color;
    border: 0;
    text-decoration: none;
    color: white;
    ::placeholder {
      color: white;
    }
  }
  .tb-right {
    display: flex;
    align-content: flex-end;
  }
}

.hide-search-bar {
  @include media-md {
    display: none;
  }
}

nav {
  background: $nav-color;
  text-decoration: none;
  color: white;
  a {
    color: white;
  }
  .navbar-btn {
    .btn-signIn {
      background: #00a6d0;
      color: white;
    }
    .btn-join {
      background: #08bb9b;
      color: white;
    }
  }
}
