.topbar {
  height:35px;
  font-size:14px;

  .col {
    padding: 0;
  }
  background: $topbar-bg;
  .tb-icon {
    color: $tb-icon-color;
  }
  .tb-icon1 {
    color: $tb-icon-color1;
  }
  .tb-text {
    color: white;
    
  }
  .searchBox{
    height:24px !important;
    font-size:14px;
  }
  .tb-search-bg {
    background-color: $tb-search-bg-color;
    border: 0;
    text-decoration: none;
    color: white;
    height:26px;
    border-radius: 5px;
    ::placeholder {
      color: white;
    }
  }
  .tb-left {
    flex-direction: row;
    @include media-md {
      li {
        padding-right: 10px;
      }
    }
  }
  .tb-right {
    flex-direction: row;
    align-content: flex-end;

    .dropdown-menu {
      position: absolute;
      border-radius: 0%;
      background-color: $tb-search-bg-color;
    }
    .dropdown-item {
      color: white;
      &:hover {
        background-color: royalblue;
        
      }
    }
    @include media-md {
      font-size: smaller;
      li {
        padding-right: 10px;
      }
    }
  }
}

.hide-search-bar {
  @include media-sm {
    display: none;
  }
}
.headerbar{
  background: $nav-color;
}
nav {
  background: $nav-color;
  text-decoration: none;

  .logo {
    color: white;
  }

  .navbar-toggler {
    color: white;
    border: 0;
  }

  .navbar-collapse {
    @include media-sm {
      height: 100%;
      width: 50%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 0;
      list-style: none;
      background-color: $navbar-bg;
      overflow-x: hidden;
      z-index: 1000;

      .nav-item {
        padding-left: 1.5rem;
      }
    }
  }

  //overlay for mobile menu that did not work
  .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.6;
    z-index: 990;
  }

  a {
    color: white;
  }
  .navbar-btn {
    display: flex;
    align-content: flex-end;

    .btn-signIn {
      background: #00a6d0;
      color: white;
      margin: 0 10px;
    }
    .btn-join {
      background: #08bb9b;
      color: white;
    }
  }
}
