* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  outline: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
<<<<<<< HEAD
  @media screen and (max-width: 768px) {
=======
  @media screen and (min-width: 768px) {
>>>>>>> d82f526f181659d76a660c6ccbfffb4f48410abd
    @content;
  }
}
@mixin media-lg {
<<<<<<< HEAD
  @media screen and (max-width: 1024px) {
=======
  @media screen and (min-width: 1024px) {
>>>>>>> d82f526f181659d76a660c6ccbfffb4f48410abd
    @content;
  }
}
@mixin media-xl {
<<<<<<< HEAD
  @media screen and (max-width: 1600px) {
=======
  @media screen and (min-width: 1600px) {
>>>>>>> d82f526f181659d76a660c6ccbfffb4f48410abd
    @content;
  }
}
