$primary-color: #07bb9b;
$secondary-color: #00a6d0;

$topbar-bg: #00202d;
$tb-icon-color: rgb(255, 255, 255);
$tb-icon-color1: #019fce;
$tb-search-bg-color: #00384f;

$nav-color: #002f43;
$navbar-bg:#00415d;

$basefont-color:#444;
$bannerHeight:660px;

$light-color:#fff;

$container-width:1366px;

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px
) ;
