$primary-color: #07bb9b;
$secondary-color: #00a6d0;
$signup-bgcolor:#F2FAFD;

$topbar-bg: #00202d;
$tb-icon-color: rgb(255, 255, 255);
$tb-icon-color1: #019fce;
$tb-search-bg-color: #00384f;

$nav-color: #002f43;
$navbar-bg:#00415d;

$basefont-color:#444;
$bannerHeight:660px;

$light-color:#fff;

$container-width:1366px;

$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1300px
) ;

$gradientbg1:#fff;
$gradientbg2:#f1fafc;
$profile-gradient1: #ffbd05;
$profile-gradient2: #e18003;
$artist-gradient1:#04c382;
$artist-gradient2:#008e5e;
$block3-gradient1:#29388e;
$block3-gradient2:#192568;


$btn_profileBG:#ffbd05;
$btn_profilecolor:#fff;
$btn_profilehoverbg:#f3b507;
$btn_profileborder:#e4a800;

$btn_primaryBG:#04c382;
$btn_primarycolor:#fff;
$btn_primaryhoverbg:#0bb87d;
$btn_primaryborder:#00a06a;

$btn_block3BG:#29388e;
$btn_block3color:#fff;
$btn_block3hoverbg:#192568;
$btn_block3border:#192568;

$btn_categoryBG:#fff;
$btn_categorycolor:#04c382;
$btn_categoryhoverbg:#f1fafc;
$btn_categoryborder:#00a06a;

$greyBG:#fcfcfc;

$CTAblock-btnbg: #007a6d;

$footerTopBG:#002f43;
$footerTopColor:#fff;
$footerBottomBG:#002231;
$footerhrcolor:#717273;
$footerSmalltext:#7e7e7e;

$fb-color:#4267B2;
$fb-hoverbg:#2F497E;
$gm-color:#EA4335;
$gm-hoverbg:#B63429;
$em-color:#07BB9B;
$em-hoverbg:#035445;
