@mixin upload-status(
$bg, 
$color
) {
    background:$bg;
    color:$color;
    position: absolute;
    bottom:10px;
    right:10px;
    border-radius:8px;
}
.approved-status{
    @include upload-status($approvedBG, $approveColor);
    border-radius:50%;
    width: 30px;
    height: 30px;
    padding-left:7px;
    padding-top:3px;
}
.headshotapproved-status{
    @include upload-status($approvedBG, $approveColor);
    border-radius:50%;
    width: 25px;
    height: 25px;
    padding-left:5px;
    padding-top:1px;
    top:10px;
    bottom:0;
    right:25px;
}
.headshotpending-status{
    @include upload-status($pendingBG, $pendingColor);
    border-radius:50%;
    width: 25px;
    height: 25px;
    padding-left:6px;
    padding-top:1px;
    top:10px;
    bottom:0;
    right:25px;
}
.headshotrejected-status{
    @include upload-status($rejectedBG, $rejectedColor);
    border-radius:50%;
    width: 25px;
    height: 25px;
    padding-left:10px;
    padding-top:1px;
    top:10px;
    bottom:0;
    right:25px;
}
.textapproved-status{
    background:$approvedBG;
    color:$approveColor;
    border-radius:50%;
    width: 25px;
    height: 25px;
    padding-left:5px;
    padding-top:1px;
    display:inline-block;

}
.pending-status{
    @include upload-status($pendingBG, $pendingColor);
    padding:0px 8px;
    font-size:13px;
    right:20px;
}
.textpending-status{
    background:$pendingBG;
    color:$pendingColor;
    padding:0px 8px;
    font-size:13px;
    display:inline-block;
    border-radius:15px;
}

.rejected-status{
    @include upload-status($rejectedBG, $rejectedColor);
    padding:0px 8px;
    font-size:13px;
    right:20px;
    z-index: 3; 
}
.textrejected-status{
    background:$rejectedBG;
    color:$rejectedColor;
    padding:0px 8px;
    font-size:13px;
    right:20px;
    z-index: 3; 
    border-radius:15px;
}

.rejected-overlay{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-color;
    opacity: 0.6;
    z-index: 2; 
    cursor: pointer; 
}






.completevalue{
    color:$primary-color;
}
.headshotarea{
    background:$bodyBG;
    width:100%;
}
.headshotthumnails{
    width:100%;
    height:130px;
    background:$bodyBG;
    img{
        width: 100%;
overflow: hidden;
    }
}
.uploadimage input[type="file"] {
    display: none;
}

.editable-form .editable {
    // color: #000;
    // font-size: .8125rem
}

.editable-form .editable-click {
    border-color: #000
}

.editable-container.editable-inline {
    max-width: 100%
}

.editable-container.editable-inline .editableform {
    max-width: 100%
}

.editable-container.editable-inline .editableform .control-group {
    max-width: 100%;
    white-space: initial
}

.editable-container.editable-inline .editableform .control-group>div {
    max-width: 100%
}

.editable-container.editable-inline .editableform .control-group .editable-input input,
.editable-container.editable-inline .editableform .control-group .editable-input textarea {
    max-width: 100%;
    width: 100%
}

@media (max-width: 991px) {
    .editable-container.editable-inline .editableform .control-group .editable-buttons {
        display: block;
        margin-top: 10px
    }
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 0.49rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn-warning {
    color: #fff
}
.addphoto-thumb{
    position:absolute;
    bottom:-8px;
    right:8px;
    color:$primary-color;
    font-size: 20px;
}
.addicon, .deleteicon, .editicon{
    color:$primary-color;
    font-size:20px;
    padding-left:10px;
}
.imageGrid{
    img{
        width:100%;
    }
}
.managephotoicons{
    a{
        color:$primary-color;
    }
}
.bulkselect-radio{
    position:absolute;
    top:10px;
    right:10px;

    input[type="checkbox"]{
      height:18px;
      width:18px;
    }
}
#imageGrid{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
}

.defaultHeadshot{
    text-align:center;
    background:$bodyBG;
}
.defaultHeadshot i{
    font-size:100px;
    padding-top:5px;
}
.uploadphoto{
    min-height:300px;
    border: 1px dashed $basefont-color;
    background: $light-color;
   
    label{
        padding-top:90px;
        cursor:pointer;
        &:hover{
            color:$primary-color;
        }
    }
   
}
// .modal {
//     overflow-y:auto;
//   }

.viewphotodiv{
    img{
        width:100%;
    }
}
.imgContent{
    position:relative;
}