.findtalent-tabs{
        li a{
            border-bottom:2px solid $light-color;
            color:$basefont-color;
        }
        li a.select{
                border-bottom:2px solid $primary-color;
                color:$primary-color;
        }
}
.scibreadcrumb{
    background-color: none;
    li a{
        color:$basefont-color;
    }
}
.category-search{
    background-color: $light-color;
    font-size:14px;
    .cat-num{
        color:$category-smalltext;
        font-size: 12px;
    }
}

.searchFilters{
    background-color: $light-color;

          @include media-md{
            display: block;
            height: auto !important;
            visibility: visible;
          }
   
        .searchparam.collapse:not(.show) {
            display: block ;
        
        @include media-sm{
            display: none; 
        }
        @include media-xs{
            display: none; 
        }
    }
}   


.noResults{
    background:$light-color;
    margin-right: -15px;
    margin-left: -15px;

    @include media-sm{ 
        margin-right: 0px;
        margin-left: 0px;
    }

    @include media-xs{ 
        margin-right: 0px;
        margin-left: 0px;
        h4{
            font-size:1rem;
            margin-bottom: 0.3rem;
        }
        h6{
            font-size: .8rem;
            font-weight:normal;
        }
    }
}
.resultlisting{

    a{
        padding-left:5px;
        padding-right:5px;
        margin-bottom:8px;
    }
    .card{
        
        .card-body{
            padding:0.8rem;
            padding-bottom: 0.3rem;
            h5{
                margin-bottom:0.5rem;
            }
            p{
                margin-bottom:0.5rem;
            }
            h5{
                font-size:1.1rem
            }
        }
    }
}