.pr-details {
  background-color: $signup-bgcolor;
  .btn-group {
    @include media-sm {
      display: block;
      .btn {
        border-radius: 0.3rem !important;
        margin-bottom: 0.3rem;
      }
    }
  }
  .disp-val {
    border-bottom: 1px solid;
    width: 3rem;
  }
}
