.pr-details {
  background-color: $signup-bgcolor;
  .btn-group {
    @include media-sm {
      display: block;
      .btn {
        border-radius: 0.3rem !important;
        margin: 0 0.3rem 0.3rem;
      }
    }
  }
  .or {
    position: absolute;
    left: 50%;
    width: 30px;
    margin-top: 2px;
    background-color: $light-color;
  }
  .disp-val {
    border-bottom: 1px solid;
    width: 3rem;
  }

  #videoElement {
    width: 100%;
    display: none;
  }

  .img-preview {
    width: 100%;
    min-height: 200px;
    height: 100%;
    border: 1px dashed grey;
    margin-top: 2rem;
    margin-bottom: 2rem;

    //default-txt
    display: flex;
    align-items: center;
    justify-content: center;

    .img-preview-img {
      display: none;
      width: 100%;
    }
  }

  input[type="file"] {
    display: none;
  }

  .custom-file-upload {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    cursor: pointer;
  }

  .pr-com {
    color: $prcombr-bg-col;
  }
  .progress-bar {
    background-color: $prcombr-bg-col;
  }
  .pr-com-bar {
    height: 2rem;
    border-radius: 0;
    background: $prcombr-bg;
  }
}

//Category Sub category
.cat-subcat {
  background-color: $signup-bgcolor;
  .card {
    border: 1px solid $accordian-br-color !important;
    border-radius: 0 !important;
  }
  .card-header.selected {
    background: $primary-color;
    color: $light-color;
    .icon {
      fill: $header-activeicon-color;
    }
  }
  .accordion {
    background: $light-color;
    @include media-md-min {
      padding: 0 5rem 2.5rem;
    }
  }
  .icon {
    width: 3rem;
    height: 3rem;
    fill: $header-icon-color;
  }
}
