.sign-up {
  background-color: $signup-bgcolor;

  .card {
    .card-body {
      .hr-or {
        height: 13px;
        border-bottom: 1px solid $viewprofile-hrborder;
        width: 100%;
        margin-top: 0px;
        text-align: center;
        .credit-title {
          background: $light-color;
        }
      }
      a {
        color: $secondary;
      }
      .um-field-error {
        background: $light-color;
        color: $warning;
      }
    }
  }
}
