.social-links {
  .card {
    .card-body {
      h4 {
        @include media-xs {
          font-size: 1.25rem;
        }
      }
      .url-eg {
        color: $basefont-light-color;
        @include media-xs {
          font-size: 0.75rem;
        }
      }
    }
  }
}